<b>Programlar</b>
<p>

<table border="1" style="width:100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Aciklama</th>
				<th>Sure</th>
				<th>Resim</th>
				<th>Bolumler</th>
			</tr>
		</thead>
	<tbody>

	<% @programs.each do |prg| %>
		<tr>
			<td><%= prg.id %> </td>
			<td><%= prg.title %> </td>
			<td><%= prg.description[0..200] %>... </td>
			<td><%= prg.duration %></td>
			<td style="text-align:center;"><img style="width:50%" src="<%= prg.thumb %>" /></td>
			<td><a href="/programlar/<%= prg.id %>-<%= prg.title.parameterize %>-"> Bolumler</a> </td>
		</tr>
	<% end %>

	</tbody>

</table>
